ServerAliveInterval 60

Host *
    ForwardAgent yes
    ForwardX11 no

Host 10.15.16.*, 10.13.190.*, 10.13.195.*
    User         ubuntu
    ControlMaster auto
    ControlPath ~/.ssh/mux-%r@%h:%p
    ControlPersist 8h

Host 10.15.16.*
    ProxyCommand ssh -q -o "StrictHostKeyChecking=no" -A ubuntu@aws.hauers.net nc %h %p

Host 10.13.190.*
    ProxyCommand ssh -q -o "StrictHostKeyChecking=no" -A ubuntu@ssh-vpc.appmri.com nc %h %p

Host 10.13.195.*
    ProxyCommand ssh -q -o "StrictHostKeyChecking=no" -A ubuntu@52.2.83.235 nc %h %p

Host *.compute.amazonaws.com
    User ubuntu
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null 
    LogLevel QUIET

Host boribon
    hostname hauers.synology.me

Host pe1950-1 pe1950-2 pe2950-1 pe2950-2 pe2950-3 pe2950-4 pe2950-5 pe2950-6 
    ProxyCommand ssh dev.appmri.com exec nc %h %p

Host mcmriproxy
    hostname dev.appmri.com
    DynamicForward 9999
